@tailwind base;
@tailwind components;
@tailwind utilities;

.wavvy {
  text-decoration: underline wavy #4e4b4b;
}

/* base light mode */
.md-content pre {
  background-color: #e5e7eb; 
  color: #1f2937;        
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}


  .dark .md-content pre {
    background-color: #27272a;
    color: #f3f4f6;           
  }

